<!doctype html>
<html>
    <head>
        <title>{% block title %}DEFAULT{% endblock %}</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>