{% extends "layouts/base.twig" %}

{% block main %}
  <ul class="historical-photos-list">
    <li class="historical-photo-list-item">
      <!--
      <img src="historical_photos/bhl_bl000002_full_1073_736__0_default.jpg" class="historical-photo" />
      <a href="" class="button">Bicentennial Camera</a>
      -->
    </li>
  </ul>
{% endblock %}
