{% extends "layouts/base.twig" %}

{% block main %}
<section class="header-background-image page-header">
  <div class="container page-header-content container-medium">
    <h1 class="page-heading">Discover</h1>
    <p class="page-subheading"><b>Discover</b> people, places and things in our historical photo gallery.</p>
  </div>
</section>

<div class="container page-header-content container-medium">
  <h2 class="gallery-heading">Gallery</h2>
  <ul class="historical-photos-list">
  {% for photo in photos %}
    <li class="historical-photo-list-item">
      <!--
      <img src="historical_photos/bhl_bl000002_full_1073_736__0_default.jpg" class="historical-photo" />
      <a href="" class="button">Bicentennial Camera</a>
      -->
      <img src="{{ photo.image_href }}/full/!500,500/0/default.jpg" class="historical-photo" />
      <p>{{ photo.title }}</p>
      <a href="/bicentennial-camera/index.php/photo/{{ photo.id }}" class="button historical-photo-camera">Bicentennial Camera</a>
    </li>
   {% endfor %}
  </ul>
</div>
{% endblock %}
