{% extends "layouts/base.twig" %}

{% block head %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/bicentennial-camera/stylesheets/camera.css" />
{% endblock %}

{% block main %}
  <div class="historical-photo-container">
    <div class="container container-narrow take-photo-container">
      <h1>Recreate</h1>

      <div class="take-photo-view">
        <img id="overlay-photo" src="{{ photo.image_href }}/full/full/0/default.jpg" />
        <video id="video-still"></video>
        <img id="photo" alt="The screen capture will appear in this box." class="invisible">
      </div>

      <!-- step 1 -->
      <div class="toolbar">
        <button class="button" id="startbutton">
          <svg width="1rem" height="1rem" viewBox="0 0 70 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Hackathon---Home-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-685.000000, -279.000000)" fill="#4E4E4E">
                      <g id="camera-copy" transform="translate(685.000000, 279.000000)">
                          <path d="M7,6.94451389 L17.5,6.94444444 L24.5,3.47222221e-05 L45.5,3.47222221e-05 L52.5,6.94444444 L63,6.94451389 C66.86575,6.94451389 70,10.0536458 70,13.8889583 L70,55.5555556 C70,59.3909722 66.86575,62.5 63,62.5 L7,62.5 C3.134005,62.5 0,59.3909722 0,55.5555556 L0,13.8889583 C0,10.0536458 3.134005,6.94451389 7,6.94451389 L7,6.94451389 Z M35,17.3611111 C25.33503,17.3611111 17.5,25.1339583 17.5,34.7222222 C17.5,44.3104167 25.33503,52.0833333 35,52.0833333 C44.6649,52.0833333 52.5,44.3104167 52.5,34.7222222 C52.5,25.1339583 44.6649,17.3611111 35,17.3611111 L35,17.3611111 Z M35,24.3055556 C40.7988,24.3055556 45.5,28.9694444 45.5,34.7222222 C45.5,40.4753472 40.7988,45.1388889 35,45.1388889 C29.20085,45.1388889 24.5,40.4753472 24.5,34.7222222 C24.5,28.9694444 29.20085,24.3055556 35,24.3055556 L35,24.3055556 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
          Capture bicentennial photo</button>
      </div>
      <!-- end of step 1 -->

      <!-- step 2, only display at step 2-->
      <div class="toolbar hidden">
        <button class="button button-light" id="retake-photo">Retake bicentennial photo</button>

        <label>Add your story
        <textarea class="story-textarea" name="description"></textarea>
        </label>
        <button class="button share-button" id="save-photo">Connect and share</button>
      </div>
      <!-- end of step 2 -->

    </div>
  </div>
  <canvas id="canvas"></canvas>
  <script type="text/javascript" src="/bicentennial-camera/javascripts/camera.js"></script>
{% endblock %}
