{% extends "layouts/base.twig" %}

{% block head %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/bicentennial-camera/stylesheets/camera.css" />
{% endblock %}

{% block main %}
  <div class="historical-photo-container">
    <div class="container container-narrow take-photo-container">
      <h1>Recreate</h1>

      <div class="take-photo-view">
        <img id="overlay-photo" src="{{ photo.image_href }}/full/full/0/default.jpg" />
        <video id="video-still"></video>
        <img id="photo" alt="The screen capture will appear in this box." class="invisible">
      </div>

      <!-- step 1 -->
      <div class="toolbar">
        <button class="button" id="startbutton">Capture bicentennial photo</button>
      </div>
      <!-- end of step 1 -->

      <!-- step 2, only display at step 2-->
      <div class="toolbar hidden">
        <button class="button button-light" id="retake-photo">Retake bicentennial photo</button>

        <label>Add your story
        <textarea class="story-textarea" name="description"></textarea>
        </label>
        <button class="button share-button" id="save-photo">Connect and share</button>
      </div>
      <!-- end of step 2 -->

    </div>
  </div>
  <canvas id="canvas"></canvas>
  <script type="text/javascript" src="/bicentennial-camera/javascripts/camera.js"></script>
{% endblock %}
